= simple_form_for [:manage, @client], html: { class: 'form-horizontal' }, wrapper: (static ? :horizontal_form_static : :horizontal_form), wrapper_mappings: {check_boxes: (static ? :horizontal_radio_and_checkboxes_static : :horizontal_radio_and_checkboxes), radio_buttons: (static ? :horizontal_radio_and_checkboxes_static : :horizontal_radio_and_checkboxes), file: (static ? :horizontal_file_input_static : :horizontal_file_input), boolean: (static ? :horizontal_boolean_static : :horizontal_boolean), date: (static ? :multi_select_static : :multi_select)} do |f|
  = f.error_notification

  .form-block
    .form-header
      %strong
        .fa-box
          %i.fa.fa-user
      客户往来
      - unless static
        = f.button :submit, t("scaffold.form.save"), :data => {:disable_width => t("scaffold.form.saving")}, :class => "btn-primary", :style => "float: right; color: white;"
    .row.form-row
      .col-md-12
        = f.input :title, :label => "标题:"
    .row.form-row
      .col-md-12
        = f.input :content, :as => :kindeditor, :label => "内容:", :input_html => {:simple_mode => true}
