.home-top2
  .home-menu
    = link_to "首页", home_index_path, :class => controller_name == "home" || controller_name == "company" || controller_name == "valley" || controller_name == "medicine" || controller_name == "tour" || controller_name == "address" ? "home-menu-active" : ""
    = link_to "走进国安", introduce_index_path, :class => controller_name == "introduce" ? "home-menu-active" : "" 
    = link_to "品牌文化", brand_index_path, :class => controller_name == "brand" ? "home-menu-active" : ""
    = link_to "新闻中心", news_index_path, :class => controller_name == "news" ? "home-menu-active" : ""
    = link_to "产品及服务", products_path, :class => controller_name == "products" ? "home-menu-active" : ""
    = link_to "客户往来", clients_path, :class => controller_name == "clients" ? "home-menu-active" : ""   
    = link_to "联系我们", contact_index_path, :class => controller_name == "contact" ? "home-menu-active" : ""
  %img{:src => asset_path("icon.png"), :class => "home-icon2"}
