.home-entry
  .home-entry-box
    = link_to home_company_path do
      %i.fa.fa-bank
      国安药业
  .home-entry-box
    = link_to home_valley_path do
      %i.fa.fa-tree
      药王谷
  .home-entry-box
    = link_to home_medicine_path do
      %i.fa.fa-user-md
      安国药行
  .home-entry-box
    = link_to home_address_path do
      %i.fa.fa-building
      中药材基地
  .home-entry-box
    = link_to home_tour_path do
      %i.fa.fa-users
      中医养生游
