.home-entry
  .home-entry-box
    = link_to organization_index_path do
      %i.fa.fa-bank
      国安药业
  .home-entry-box
    = link_to valley_index_path do
      %i.fa.fa-tree
      药王谷
  .home-entry-box
    = link_to medicine_index_path do
      %i.fa.fa-user-md
      安国药行
  .home-entry-box
    = link_to address_index_path do
      %i.fa.fa-building
      中药材基地
  .home-entry-box
    = link_to tour_index_path do
      %i.fa.fa-users
      中医养生游
